<input type="text" class="form-control" id="txtContent" value="hello,world">
	<div> 
计划开始时间:
	<label class="radio-inline">
  <input type="radio" id="inlineCheckbox1" checked name="optionsRadios" value="option1"> 今天
</label>
<label class="radio-inline">
  <input type="radio" id="inlineCheckbox2" name="optionsRadios" value="option2"> 明天
</label>
<label class="radio-inline">
  <input type="radio" id="inlineCheckbox3" name="optionsRadios" value="option3"> 后天
</label>
<label class="radio-inline">
  <input type="radio" id="inlineCheckbox3" name="optionsRadios" value="option3"> 下周
</label>
<label class="radio-inline">
  <input type="radio" id="inlineCheckbox3" name="optionsRadios" value="option3"> 下月
</label> </div>

<div class="btn-group">
  <button type="button" class="btn btn-default">今天</button>
  <button type="button" class="btn btn-default">明天</button>
  <button type="button" class="btn btn-default">后天</button>
  <button type="button" class="btn btn-default">下周</button>
  <button type="button" class="btn btn-default">下月</button>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      2014-03-17
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">2014-03-24</a></li>
      <li><a href="#">2014-04-17</a></li>
    </ul>
  </div>
</div>
 
	<textarea class="form-control" rows="3" placeholder="Enter your details here ..."></textarea>
	<button id="btnSubmit" type="button" class="btn btn-default">save</button>