 
<h2>明天  <small>03/15,Thu</small> </h2>
<h1>今天 <small>03/14,Thu</small></h1> 
<ul id="list_2014-03-14" class="list-group">
</ul>

<h2>昨天  <small>03/13,Thu</small> </h2>
 

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
 
<form id="newPostForm" class="form-inline" role="form">
  <div class="form-group col-lg-8">
    <label class="sr-only" for="txtContent">Email address</label>
    <input type="text" class="form-control " id="txtContent" placeholder="Enter your task">
  </div> 
  <button type="submit" class="btn btn-default">Submit</button>
</form>
 
</nav>

<script id="tpl_tasklist" type="text/template">
{@each list as it,index}
<li class="list-group-item"><label><input type="checkbox">$${it.subject}</label></li>   
{@/each}
</script>