<div id="tommorrow">  
</div>

<div id="today">  
</div>

<div id="yestoday">  
</div> 

<div style="height:40px;"></div>

<nav id="navPost" class="navbar navbar-default navbar-fixed-bottom" role="navigation">   
  <form id="newPostForm" class="form-inline" role="form">    
    <div class="form-group col-lg-8 ">       
      <input type="text" class="form-control" id="txtContent" placeholder="Enter your task here ...">
    </div> 
    <button id="btnSubmit" type="submit" class="btn btn-default">Submit</button>
    <button type="button" class="btn btn-default form-group"><span class="glyphicon glyphicon-th-list"></span></button>    
  </form> 
</nav> 

<script id="tpl_date_tasklist" type="text/template">
<h1>$${date.shortDate} <small>$${date.strDate},$${date.dayOfWeek}</small></h1>
<ul id="list_$${date.strDate}" class="list-group"> 
{@each list as it,index}
<li id="t_$${it.pk_id}" class="list-group-item"><label><input type="checkbox">$${it.subject}</label></li>   
{@/each}
</ul>
</script>