<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">   
    <meta name="description" content="One free to do list solution...">     
    <link rel="shortcut icon" href="/static/img/favicon.icon">
    <title>ftodo.sinaapp.com</title>    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
  </head>
  <body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<h1 id="hNavHeader">今天</h1>
</nav>

<div id="container">    
</div>

<div id="load_data" style="height:240px;"><a href="/list?page=1"></a></div>

<nav id="navPost" class="navbar navbar-default navbar-fixed-bottom" role="navigation"> 
  <form id="newPostForm" class="form-inline" role="form">    
    <div class="form-group col-lg-12">
      <label class="sr-only" for="txtContent"></label>          
      <input type="text" class="form-control" id="txtContent" placeholder="Enter your task here, press Enter key to submit ...">
    </div> 
  </form> 
</nav> 

<script type="text/juicer" id="tpl_task_item_normal">
<li class="list-group-item">  
    <input id="cb_$${pk_id}" param="$${pk_id}" type="checkbox" >  $${body}  
  </li> 
</script> 

<script type="text/juicer" id="tpl_task_items">
 {@each items as it,index} 
<li class="list-group-item">  
    <input id="cb_$${it.pk_id}" param="$${it.pk_id}" type="checkbox" >  $${it.body}  
  </li> 
{@/each}
</script> 

<script id="tpl_tasklist" type="text/template">
{@each list as day,day_index}
<ul id="taskday_$${day[0]}" class="list-group taskday"> 
  <h3>$${day[0]}</h3>  
  {@each day[1] as it,index} 
    {@include "#tpl_task_item_normal", it}  
{@/each}
</ul>
{@/each}
</script>  

<script id="tpl_today_new" type="text/template">
<ul id="taskday_$${data.day}" class="list-group taskday"> 
  <h3>$${data.day}</h3>
  {@include "#tpl_task_item_normal", data}
</ul>
</script>  

<script id="tpl_tmp" type="text/template">
{@each day[1] as it,index} 
  {@include "#tpl_task_item_normal", it}  
{@/each}
</script> 

<script src="/static/js/lib/jquery-2.1.0.min.js"></script>
<script src="/static/js/lib/bootstrap-3.0.0.min.js"></script>
<script src="/static/js/lib/juicer.min.js"></script> 
<script src="/static/js/lib/jquery.infinitescroll-2.0.min.js"></script> 
<script src="/static/js/lib/date.js"></script> 
<script src="/static/js/m2.js"></script> 

</body>
</html>